<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TexCompiler</title>
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="estilo.css">
</head>

<body class="text-center bg-dark">

  <div align="center" class="central">
      <h1>TexCompiler</h1>
    <p class="lead">Puedes ver una lista de peticiones HTTP en la documentación sobre la API REST</p>
    <br>
    <br>
    <a href="https://vperaltac.github.io/IV-Proyecto/apidoc/index.html" class="boton-imagenes"><b class="">Visitar documentacion API REST</b></a>
  </div>
</body>

</html>